Repository Jaylapuck/Calligraphy_Final_Project, pull requests merged in 2022-01, with the labels that each got.

#19 SCWSFP-39: Remove Mailer Endpoint
  Calligraphy.Business/obj/Debug/net5.0/Calligraphy.Business.GeneratedMSBuildEditorConfig.editorconfig
  Calligraphy.Business/obj/Debug/net5.0/Calligraphy.Business.assets.cache
  Calligraphy.Business/obj/Debug/net5.0/Calligraphy.Business.csproj.AssemblyReference.cache
  Calligraphy.Data/Calligraphy.Data.csproj
  Calligraphy.Data/Migrations/20220106192523_InitMigration.Designer.cs
  Calligraphy.Data/Migrations/20220106192523_InitMigration.cs
  Calligraphy.Data/Migrations/CalligraphyContextModelSnapshot.cs
  Calligraphy.Data/Models/FormEntity.cs
  Calligraphy.Data/obj/Debug/netstandard2.0/Calligraphy.Data.GeneratedMSBuildEditorConfig.editorconfig
  Calligraphy.Data/obj/Debug/netstandard2.0/Calligraphy.Data.assets.cache
  Calligraphy.Data/obj/Debug/netstandard2.0/Calligraphy.Data.csproj.AssemblyReference.cache
  Calligraphy.Test/Form/FormControllerTests.cs
  Calligraphy.Test/Form/FormServiceTests.cs
  Calligraphy.Test/Mailer/MailControllerTests.cs
  Calligraphy.Test/bin/Debug/net5.0/CoverletSourceRootsMapping
  Calligraphy.Test/obj/Debug/net5.0/Calligraphy.Test.GeneratedMSBuildEditorConfig.editorconfig
  Calligraphy.Test/obj/Debug/net5.0/Calligraphy.Test.assets.cache
  Calligraphy.Test/obj/Debug/net5.0/Calligraphy.Test.csproj.AssemblyReference.cache
  Calligraphy/Controllers/FormController.cs
  Calligraphy/Controllers/MailerController.cs
  Calligraphy/obj/Debug/net5.0/Calligraphy.Controller.GeneratedMSBuildEditorConfig.editorconfig
  Calligraphy/obj/Debug/net5.0/Calligraphy.Controller.assets.cache
  Calligraphy/obj/Debug/net5.0/Calligraphy.Controller.csproj.AssemblyReference.cache
Labels: Mailer Service

#28 Feat/SCWSFP-43: Mailer Admin Notifications
  Calligraphy.Business/Quote/QuoteService.cs
  Calligraphy.Data/Models/QuoteEntity.cs
  Calligraphy.Data/Repo/Contract/ContractRepo.cs
  Calligraphy.Data/Repo/Form/FormRepo.cs
  Calligraphy.Test/Mailer/MailerControllerTests.cs
  Calligraphy.Test/Quote/QuoteControllerTests.cs
  Calligraphy.Test/Quote/QuoteServiceTests.cs
  Calligraphy/Controllers/FormController.cs
  Calligraphy/Controllers/MailController.cs
  Calligraphy/Controllers/QuoteController.cs
Labels: Mailer Service, Contracts, Quotes

#31 feat/SCWSFP-53: Edit About Page
  Calligraphy.Business/About/AboutService.cs
  Calligraphy.Business/About/IAboutService.cs
  Calligraphy.Data/Config/CalligraphyContext.cs
  Calligraphy.Data/Models/AboutEntity.cs
  Calligraphy.Data/Repo/About/AboutRepo.cs
  Calligraphy.Data/Repo/About/IAboutRepo.cs
  Calligraphy.Test/About/AboutControllerTests.cs
  Calligraphy.Test/About/AboutServiceTests.cs
  Calligraphy/Controllers/AboutController.cs
  Calligraphy/Startup.cs
Labels: About

#30 Feat/SCWSFP-16: Create Monthly Earnings Page
  Calligraphy.Business/Contract/ContractService.cs
  Calligraphy.Business/Contract/IContractService.cs
  Calligraphy.Data/Repo/Contract/ContractRepo.cs
  Calligraphy.Data/Repo/Contract/IContractRepo.cs
  Calligraphy.Test/Contract/ContractControllerTests.cs
  Calligraphy.Test/Contract/ContractRepoTests.cs
  Calligraphy.Test/Contract/ContractServiceTests.cs
  Calligraphy.Test/EFRepoTests.cs
  Calligraphy/Controllers/ContractController.cs
Labels: Contracts
